@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

:root {
  --primary-color: rgba(53, 0, 99);
  --hover-color: rgba(80, 20, 100);

  --hover-animation: 0.2s ease-in;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.section-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  color: var(--primary-color);
  /* padding-bottom: 2rem; */
  /* border-bottom: 1px solid var(--primary-color); */
}
